@charset "UTF-8";
@use 'sass:math';

// メディアクエリ
// --------------------------------------------------
@mixin mqMax($breakpoint: m) {
  @if $breakpoint == sss {
    @media screen and (max-width: 345px) {
      @content;
    }
  } @else if $breakpoint == ss {
    @media screen and (max-width: 375px) {
      @content;
    }
  } @else if $breakpoint == s {
    @media screen and (max-width: 450px) {
      @content;
    }
  } @else if $breakpoint == m {
    @media screen and (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == l {
    @media screen and (max-width: 1024px) {
      @content;
    }
  } @else if $breakpoint {
    @media screen and (max-width: #{$breakpoint}px) {
      @content;
    }
  }
}

// ホバー
// --------------------------------------------------
@mixin hover {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }
}

// vw設定やclamp設定
// --------------------------------------------------
@function px-to-rem($px, $base-font-size: 16) {
  @return calc(#{$px} / #{$base-font-size} * 1rem);
}
@function px-to-vw($px, $view-port-width: 1280) {
  @return calc(#{$px} / #{$view-port-width} * 100vw);
}
@function Clamp($min, $max, $min-view-port: 425, $max-view-port: 1920) {
  $variable-part: calc(($max - $min) / ($max-view-port - $min-view-port));
  $constant: calc(($max - $max-view-port * #{$variable-part}) / 16);
  $min-rem: px-to-rem($min);
  $max-rem: px-to-rem($max);
  $variable-rem: calc(#{$constant} * 1rem);
  $variable-vw: calc(100 * #{$variable-part} * 1vw);
  @return clamp(
    #{$min-rem},
    calc(#{$variable-rem} + #{$variable-vw}),
    #{$max-rem}
  );
}
@function Px($value) {
  @return px-to-rem($value);
}
@function VwMin($value, $view-port-width: 375) {
  $rem-value: px-to-rem($value);
  $vw-value: px-to-vw($value, $view-port-width);
  @return unquote('min(#{$rem-value}, #{$vw-value})');
}
// 拡大
@function VwMax($value, $view-port-width: 375) {
  $rem-value: px-to-rem($value);
  $vw-value: px-to-vw($value, $view-port-width);
  @return unquote('max(#{$rem-value}, #{$vw-value})');
}

body {
  font-family: 'Noto Serif JP', serif;
  max-width: 1920px;
}

.header {
  padding: Clamp(14, 27) Clamp(1, 160) Clamp(16, 38);

  &_container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_logo {
      display: inline-block;
      line-height: 0;

      img {
        display: block;
        max-width: Clamp(200, 344.68);
      }
    }

    &_nav {
      display: flex;
      gap: Clamp(10, 72);
      color: #717d96;
      font-size: Clamp(10, 24);
      font-weight: 700;
      line-height: math.div(30.5, 24);
    }
  }
}

.mv {
  background-image: url(/img/top_mv_bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: Clamp(500, 928);
  display: flex;
  align-items: center;

  &_hdg {
    max-width: 788px;
    font-size: Clamp(32, 64);
    font-weight: 700;
    line-height: math.div(72, 64);
    color: #ffffff;
    margin: 0 Clamp(40, 70) 0;
  }
}

main {
  max-width: 1400px;
  padding: 0 40px 0;
}
