@charset "UTF-8";
@use 'sass:math';

// メディアクエリ
// --------------------------------------------------
@mixin mqMax($breakpoint: m) {
  @if $breakpoint == sss {
    @media screen and (max-width: 345px) {
      @content;
    }
  } @else if $breakpoint == ss {
    @media screen and (max-width: 375px) {
      @content;
    }
  } @else if $breakpoint == s {
    @media screen and (max-width: 450px) {
      @content;
    }
  } @else if $breakpoint == m {
    @media screen and (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == l {
    @media screen and (max-width: 1024px) {
      @content;
    }
  } @else if $breakpoint {
    @media screen and (max-width: #{$breakpoint}px) {
      @content;
    }
  }
}

// ホバー
// --------------------------------------------------
@mixin hover {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }
}

// vw設定やclamp設定
// --------------------------------------------------
@function px-to-rem($px, $base-font-size: 16) {
  @return calc(#{$px} / #{$base-font-size} * 1rem);
}
@function px-to-vw($px, $view-port-width: 1280) {
  @return calc(#{$px} / #{$view-port-width} * 100vw);
}
@function Clamp($min, $max, $min-view-port: 425, $max-view-port: 1920) {
  $variable-part: calc(($max - $min) / ($max-view-port - $min-view-port));
  $constant: calc(($max - $max-view-port * #{$variable-part}) / 16);
  $min-rem: px-to-rem($min);
  $max-rem: px-to-rem($max);
  $variable-rem: calc(#{$constant} * 1rem);
  $variable-vw: calc(100 * #{$variable-part} * 1vw);
  @return clamp(
    #{$min-rem},
    calc(#{$variable-rem} + #{$variable-vw}),
    #{$max-rem}
  );
}
@function Px($value) {
  @return px-to-rem($value);
}
@function VwMin($value, $view-port-width: 375) {
  $rem-value: px-to-rem($value);
  $vw-value: px-to-vw($value, $view-port-width);
  @return unquote('min(#{$rem-value}, #{$vw-value})');
}
// 拡大
@function VwMax($value, $view-port-width: 375) {
  $rem-value: px-to-rem($value);
  $vw-value: px-to-vw($value, $view-port-width);
  @return unquote('max(#{$rem-value}, #{$vw-value})');
}

body {
  font-family: 'Noto Serif JP', serif;
  // max-width: 1920px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #ffffff;
  padding: Clamp(14, 27) Clamp(1, 160) Clamp(16, 38);
  margin: 0 auto;

  &_container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_logo {
      display: inline-block;
      line-height: 0;

      img {
        display: block;
        max-width: Clamp(200, 344.68);
      }
    }

    &_nav {
      display: flex;
      gap: Clamp(10, 72);
      color: #717d96;
      font-size: Clamp(10, 24);
      font-weight: 700;
      line-height: math.div(30.5, 24);

      a {
        text-decoration: none;
        font-weight: 600;
        color: inherit;

        &:visited {
          color: inherit;
          font-weight: 600;
          text-decoration: none;
        }
        @include hover() {
          text-decoration: underline;
          font-weight: 900;
        }
      }

      &_item {
        position: relative;
        display: flex;
        align-items: center;
        gap: 7px;

        .accordion_icon {
          width: 16px;
          height: auto;
          opacity: 0;
          transition: opacity 0.1s ease;
        }

        @include hover() {
          .accordion_icon {
            opacity: 1;
          }
        }

        .accordion_menu {
          overflow: hidden;
          height: 0;
          opacity: 0;
          pointer-events: none;
          transition: height 0.3s ease, opacity 0.3s ease;
          position: absolute;
          top: 100%;
          left: 0;
          width: max-content;
          display: none;
          flex-direction: column;
          gap: 10px;
          background-color: #0fa6ce;
          color: #ffffff;
          font-size: 20.32px;
          font-weight: 600;
          line-height: math.div(80, 20.32);
          letter-spacing: -0.01em;
          padding: 0 53px;
          z-index: 1001;

          a {
            display: block;
            text-decoration: none;
            border-bottom: 1px solid #ffffff;
          }

          li:last-child a {
            border-bottom: none;
          }
        }

        &.is-open {
          .accordion_menu {
            display: flex !important;
            opacity: 1;
            pointer-events: auto;
          }
        }
      }
    }
  }
}

.mv {
  background-image: url(/img/top_mv_bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: Clamp(500, 928);
  display: flex;
  align-items: center;
  margin-top: 90px;

  &_hdg {
    max-width: 788px;
    font-size: Clamp(32, 64);
    font-weight: 700;
    line-height: math.div(72, 64);
    color: #ffffff;
    margin: 0 Clamp(20, 50) 0;
  }
}

main {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px 0;
}

.top {
  &_box1 {
    &_read {
      font-size: Clamp(12, 24);
      font-weight: 600;
      line-height: math.div(60, 24);
      letter-spacing: -0.01em;
      margin-top: 60px;
    }

    &_list {
      display: flex;
      list-style: none;
      margin: 32px 0 0 0;
      padding: 0;

      &_card {
        flex: 1 1 33.3333%;
        position: relative;
        overflow: hidden;

        img {
          width: 100%;
          height: auto;
          display: block;
        }

        &_text {
          color: #ffffff;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          width: 90%;
        }
      }

      &_hdg {
        font-size: Clamp(17, 32);
        font-weight: 900;
        line-height: math.div(48, 32);
        margin: 0;
      }

      hr {
        width: 90%;
        margin: 12px 0;
        border: none;
        border-top: 1px solid #ffffff;
      }

      &_read {
        font-size: Clamp(17, 32);
        font-weight: 700;
        line-height: math.div(48, 32);
        margin: 0;
      }
    }
  }

  &_box2 {
    margin-top: 72px;

    &_list {
      display: flex;
      flex-direction: column;
      gap: 68px;

      &_card {
        display: flex;
        gap: Clamp(40, 70);
        align-items: center;

        &:nth-child(even) {
          flex-direction: row-reverse;
        }

        &_picture {
          flex: 0 0 50%;
          img {
            width: 100%;
            height: auto;
            display: block;
          }
        }
        &_text {
          flex: 1;

          &_hdg {
            font-size: Clamp(20, 48.41);
            font-weight: 700;
            line-height: math.div(48.4, 48.41);
          }
          &_read {
            font-size: Clamp(12, 24.21);
            font-weight: 600;
            line-height: math.div(48.4, 24.21);
            margin-top: 20px;
          }
        }
      }
    }
  }

  &_contact {
    background-image: url(/img/top_box3_bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    gap: Clamp(40, 93);
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    color: #ffffff;
    padding: Clamp(50, 201) Clamp(1, 200) Clamp(50, 191) Clamp(1, 360);

    &_hdg {
      font-size: Clamp(20, 64);
      font-weight: 700;
      line-height: math.div(84, 64);
    }
    &_btn {
      text-align: center;
      border: 3px solid #ffffff;
      padding: Clamp(10, 51) Clamp(1, 73) Clamp(10, 34) Clamp(1, 73);

      &_hdg {
        font-size: Clamp(20, 64);
        font-weight: 700;
        line-height: math.div(100, 64);
      }
      &_read {
        font-size: Clamp(10, 36);
        font-weight: 600;
        line-height: math.div(100, 36);
      }
    }
  }
}
.footer {
  background-color: #bfd0f2;
  text-align: center;
  padding: 35px 20px;

  &_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;

    &_nav {
      display: flex;
      gap: Clamp(10, 20);
      font-size: Clamp(10, 17.78);
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: -0.01em;

      a {
        text-decoration: none;
        font-weight: 400;
        color: inherit;
        @include hover() {
          text-decoration: underline;
          font-weight: 700;
        }
      }
    }
  }
}

// サービス・事業内容
// trust_stationページ
.trustStationMv {
  margin-top: Clamp(70, 140);
}

.trustStation {
  text-align: center;
  padding-bottom: Clamp(50, 104);

  &_box1 {
    font-weight: 700;
    letter-spacing: -0.01em;
    padding-bottom: Clamp(40, 89);
    border-bottom: 1px solid #000000;

    &_hdg {
      font-size: Clamp(32, 64);
      line-height: 1;
      margin-top: Clamp(55, 111);
    }
    &_read {
      font-size: Clamp(12, 24);
      line-height: 2;
      text-align: start;
      margin-top: Clamp(20, 40);
    }
  }

  &_box2 {
    &_hdg {
      font-size: Clamp(24, 48);
      font-weight: 700;
      line-height: 1;
      margin: 22px auto;
    }
  }
}

// movieMvページ
.movie {
  margin-top: Clamp(70, 140);
}

// iideliページ
.iideliMv {
  margin-top: Clamp(70, 140);
}

// webページ
.webMv {
  margin-top: Clamp(70, 140);
}

// systemページ
.system {
  margin-top: Clamp(70, 140);
}

// devページ
.devMv {
  margin-top: Clamp(70, 140);
}

// worksページ
.worksMv {
  margin-top: Clamp(70, 140);
}

.works {
  &_box1 {
    text-align: center;

    &_hdg {
      font-size: Clamp(32, 64);
      font-weight: 700;
      line-height: 1;
      margin-top: Clamp(45, 93);
    }

    &_contents {
      padding: Clamp(70, 140) 0 Clamp(50, 100) 0;

      &_list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: Clamp(41, 82);

        &_card {
          background-color: #ffffff;
          padding: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          max-width: 100%;

          img {
            width: 100%;
            height: auto;
            display: block;
            max-width: 100%;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          }

          &_name,
          &_hdg,
          &_read {
            max-width: 100%;
            width: 100%;
            text-align: left;
          }
          &_name {
            font-size: Clamp(12, 24);
            font-weight: 700;
            line-height: math.div(30.5, 24);
            margin-top: 22px;
          }
          &_hdg {
            font-size: Clamp(16, 32);
            font-weight: 700;
            line-height: math.div(30.5, 32);
            color: #ff5f5f;
            margin-top: 27px;
          }
          &_read {
            font-size: Clamp(12, 24);
            font-weight: 500;
            line-height: math.div(30.5, 24);
            margin-top: 29px;
          }
        }
      }
    }
  }
}
// workページ
.work {
  padding: Clamp(70, 140) 20px Clamp(70, 144);
  text-align: center;

  &_hdg {
    font-size: Clamp(32, 64);
    font-weight: 700;
    line-height: 1;
    margin-top: Clamp(30, 60);
  }

  &_read {
    font-size: Clamp(12, 24);
    font-weight: 600;
    line-height: math.div(48, 24);
    margin-top: Clamp(30, 60);
    text-align: start;
  }

  figure {
    margin-top: Clamp(40, 80);
  }
}

// cotactページ
.contactMv {
  margin-top: Clamp(70, 140);
}

.contact {
  text-align: center;
  max-width: 1049px;

  &_hdg {
    font-size: Clamp(32, 64);
    font-weight: 700;
    line-height: math.div(30.5, 64);
    letter-spacing: -0.01em;
    margin-top: 88px;
  }
  &_read {
    font-size: Clamp(12, 24);
    font-weight: 600;
    line-height: math.div(44, 24);
    margin-top: 58px;
  }

  &_privacy {
    margin-top: Clamp(10, 33);
    font-size: Clamp(10, 24);
    font-weight: 600;
    line-height: math.div(44, 24);

    a {
      text-decoration: none;
      color: inherit;
      @include hover() {
        text-decoration: underline;
        font-weight: 900;
      }
    }
  }
  &_submit {
    font-size: Clamp(18, 36);
    font-weight: 600;
    line-height: math.div(44, 36);
    padding: 27px 60px;
    border: 1px solid;
    display: block;
    margin: Clamp(61, 122) auto Clamp(131, 262);
  }
}

form {
  text-align: start;
  margin: 52px auto 0;

  label {
    display: block;

    p {
      font-size: Clamp(12, 24);
      font-weight: 600;
      line-height: math.div(44, 24);
    }
  }
  label:not(:last-of-type) {
    margin-bottom: Clamp(40, 85);
  }

  input[type='text'],
  input[type='email'],
  input[type='tel'],
  textarea {
    background-color: #d9d9d9;
    width: 100%;
    height: Clamp(42, 84);
    margin-top: Clamp(11, 22);
    font-size: Clamp(24, 48);
  }
}
// privacy_policyページ
.privacyPolicy {
  margin-top: Clamp(70, 140);
  text-align: center;
  padding-bottom: 82px;

  &_hdg {
    font-size: Clamp(32, 64);
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.01em;
    padding-top: 85px;
  }
  &_read {
    font-size: Clamp(12, 24);
    font-weight: 600;
    line-height: math.div(42, 24);
    letter-spacing: -0.01em;
    margin-top: 53px;
    text-align: start;
  }
}

// companyページ
.companyMv {
  margin-top: Clamp(70, 140);
}

.company {
  text-align: center;
  max-width: 910px;

  &_hdg {
    font-size: Clamp(32, 64);
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.01em;
    padding-top: Clamp(45, 85);
  }

  &_table {
    text-align: start;
    margin: Clamp(30, 63) auto Clamp(120, 157.66);
    font-size: Clamp(12, 24);
    font-weight: 600;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;

    &_row {
      display: flex;
      border-bottom: 1px solid #000000;
      padding: Clamp(10, 46) 0;
      align-items: center;

      dt {
        width: 30%;
        line-height: math.div(96, 24);
        padding-left: 29px;
      }
      dd {
        width: 70%;
        line-height: math.div(48, 24);
        align-items: center;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
