@charset "UTF-8";
body {
  font-family: "Noto Serif JP", serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #ffffff;
  padding: clamp(calc(14 / 16 * 1rem), calc(calc((27 - 1920 * 0.0086956522) / 16) * 1rem) + calc(100 * 0.0086956522 * 1vw), calc(27 / 16 * 1rem)) clamp(calc(1 / 16 * 1rem), calc(calc((160 - 1920 * 0.1063545151) / 16) * 1rem) + calc(100 * 0.1063545151 * 1vw), calc(160 / 16 * 1rem)) clamp(calc(16 / 16 * 1rem), calc(calc((38 - 1920 * 0.0147157191) / 16) * 1rem) + calc(100 * 0.0147157191 * 1vw), calc(38 / 16 * 1rem));
  margin: 0 auto;
}
.header_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header_container_logo {
  display: inline-block;
  line-height: 0;
}
.header_container_logo img {
  display: block;
  max-width: clamp(calc(200 / 16 * 1rem), calc(calc((344.68 - 1920 * 0.0967759197) / 16) * 1rem) + calc(100 * 0.0967759197 * 1vw), calc(344.68 / 16 * 1rem));
}
.header_container_nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(calc(10 / 16 * 1rem), calc(calc((72 - 1920 * 0.0414715719) / 16) * 1rem) + calc(100 * 0.0414715719 * 1vw), calc(72 / 16 * 1rem));
  color: #717d96;
  font-size: clamp(calc(10 / 16 * 1rem), calc(calc((24 - 1920 * 0.0093645485) / 16) * 1rem) + calc(100 * 0.0093645485 * 1vw), calc(24 / 16 * 1rem));
  font-weight: 700;
  line-height: 1.2708333333;
}
.header_container_nav a {
  text-decoration: none;
  font-weight: 600;
  color: inherit;
}
.header_container_nav a:visited {
  color: inherit;
  font-weight: 600;
  text-decoration: none;
}
@media (hover: hover) and (pointer: fine) {
  .header_container_nav a:hover {
    text-decoration: underline;
    font-weight: 900;
  }
}
.header_container_nav_item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
}
.header_container_nav_item .accordion_icon {
  width: 16px;
  height: auto;
  opacity: 0;
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}
@media (hover: hover) and (pointer: fine) {
  .header_container_nav_item:hover .accordion_icon {
    opacity: 1;
  }
}
.header_container_nav_item .accordion_menu {
  overflow: hidden;
  height: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: height 0.3s ease, opacity 0.3s ease;
  transition: height 0.3s ease, opacity 0.3s ease;
  position: absolute;
  top: 100%;
  left: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  background-color: #0fa6ce;
  color: #ffffff;
  font-size: 20.32px;
  font-weight: 600;
  line-height: 3.937007874;
  letter-spacing: -0.01em;
  padding: 0 53px;
  z-index: 1001;
}
.header_container_nav_item .accordion_menu a {
  display: block;
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
}
.header_container_nav_item .accordion_menu li:last-child a {
  border-bottom: none;
}
.header_container_nav_item.is-open .accordion_menu {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  opacity: 1;
  pointer-events: auto;
}

.mv {
  background-image: url(/img/top_mv_bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: clamp(calc(500 / 16 * 1rem), calc(calc((928 - 1920 * 0.2862876254) / 16) * 1rem) + calc(100 * 0.2862876254 * 1vw), calc(928 / 16 * 1rem));
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 90px;
}
.mv_hdg {
  max-width: 788px;
  font-size: clamp(calc(32 / 16 * 1rem), calc(calc((64 - 1920 * 0.0214046823) / 16) * 1rem) + calc(100 * 0.0214046823 * 1vw), calc(64 / 16 * 1rem));
  font-weight: 700;
  line-height: 1.125;
  color: #ffffff;
  margin: 0 clamp(calc(20 / 16 * 1rem), calc(calc((50 - 1920 * 0.0200668896) / 16) * 1rem) + calc(100 * 0.0200668896 * 1vw), calc(50 / 16 * 1rem)) 0;
}

main {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px 0;
}

.top_box1_read {
  font-size: clamp(calc(12 / 16 * 1rem), calc(calc((24 - 1920 * 0.0080267559) / 16) * 1rem) + calc(100 * 0.0080267559 * 1vw), calc(24 / 16 * 1rem));
  font-weight: 600;
  line-height: 2.5;
  letter-spacing: -0.01em;
  margin-top: 60px;
}
.top_box1_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 32px 0 0 0;
  padding: 0;
}
.top_box1_list_card {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 33.3333%;
      -ms-flex: 1 1 33.3333%;
          flex: 1 1 33.3333%;
  position: relative;
  overflow: hidden;
}
.top_box1_list_card img {
  width: 100%;
  height: auto;
  display: block;
}
.top_box1_list_card_text {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
}
.top_box1_list_hdg {
  font-size: clamp(calc(17 / 16 * 1rem), calc(calc((32 - 1920 * 0.0100334448) / 16) * 1rem) + calc(100 * 0.0100334448 * 1vw), calc(32 / 16 * 1rem));
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
}
.top_box1_list hr {
  width: 90%;
  margin: 12px 0;
  border: none;
  border-top: 1px solid #ffffff;
}
.top_box1_list_read {
  font-size: clamp(calc(17 / 16 * 1rem), calc(calc((32 - 1920 * 0.0100334448) / 16) * 1rem) + calc(100 * 0.0100334448 * 1vw), calc(32 / 16 * 1rem));
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
}
.top_box2 {
  margin-top: 72px;
}
.top_box2_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 68px;
}
.top_box2_list_card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(calc(40 / 16 * 1rem), calc(calc((70 - 1920 * 0.0200668896) / 16) * 1rem) + calc(100 * 0.0200668896 * 1vw), calc(70 / 16 * 1rem));
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.top_box2_list_card:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.top_box2_list_card_picture {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.top_box2_list_card_picture img {
  width: 100%;
  height: auto;
  display: block;
}
.top_box2_list_card_text {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.top_box2_list_card_text_hdg {
  font-size: clamp(calc(20 / 16 * 1rem), calc(calc((48.41 - 1920 * 0.0190033445) / 16) * 1rem) + calc(100 * 0.0190033445 * 1vw), calc(48.41 / 16 * 1rem));
  font-weight: 700;
  line-height: 0.9997934311;
}
.top_box2_list_card_text_read {
  font-size: clamp(calc(12 / 16 * 1rem), calc(calc((24.21 - 1920 * 0.0081672241) / 16) * 1rem) + calc(100 * 0.0081672241 * 1vw), calc(24.21 / 16 * 1rem));
  font-weight: 600;
  line-height: 1.9991738951;
  margin-top: 20px;
}
.top_contact {
  background-image: url(/img/top_box3_bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(calc(40 / 16 * 1rem), calc(calc((93 - 1920 * 0.035451505) / 16) * 1rem) + calc(100 * 0.035451505 * 1vw), calc(93 / 16 * 1rem));
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 64px;
  color: #ffffff;
  padding: clamp(calc(50 / 16 * 1rem), calc(calc((201 - 1920 * 0.1010033445) / 16) * 1rem) + calc(100 * 0.1010033445 * 1vw), calc(201 / 16 * 1rem)) clamp(calc(1 / 16 * 1rem), calc(calc((200 - 1920 * 0.1331103679) / 16) * 1rem) + calc(100 * 0.1331103679 * 1vw), calc(200 / 16 * 1rem)) clamp(calc(50 / 16 * 1rem), calc(calc((191 - 1920 * 0.0943143813) / 16) * 1rem) + calc(100 * 0.0943143813 * 1vw), calc(191 / 16 * 1rem)) clamp(calc(1 / 16 * 1rem), calc(calc((360 - 1920 * 0.2401337793) / 16) * 1rem) + calc(100 * 0.2401337793 * 1vw), calc(360 / 16 * 1rem));
}
.top_contact_hdg {
  font-size: clamp(calc(20 / 16 * 1rem), calc(calc((64 - 1920 * 0.0294314381) / 16) * 1rem) + calc(100 * 0.0294314381 * 1vw), calc(64 / 16 * 1rem));
  font-weight: 700;
  line-height: 1.3125;
}
.top_contact_btn {
  text-align: center;
  border: 3px solid #ffffff;
  padding: clamp(calc(10 / 16 * 1rem), calc(calc((51 - 1920 * 0.0274247492) / 16) * 1rem) + calc(100 * 0.0274247492 * 1vw), calc(51 / 16 * 1rem)) clamp(calc(1 / 16 * 1rem), calc(calc((73 - 1920 * 0.0481605351) / 16) * 1rem) + calc(100 * 0.0481605351 * 1vw), calc(73 / 16 * 1rem)) clamp(calc(10 / 16 * 1rem), calc(calc((34 - 1920 * 0.0160535117) / 16) * 1rem) + calc(100 * 0.0160535117 * 1vw), calc(34 / 16 * 1rem)) clamp(calc(1 / 16 * 1rem), calc(calc((73 - 1920 * 0.0481605351) / 16) * 1rem) + calc(100 * 0.0481605351 * 1vw), calc(73 / 16 * 1rem));
}
.top_contact_btn_hdg {
  font-size: clamp(calc(20 / 16 * 1rem), calc(calc((64 - 1920 * 0.0294314381) / 16) * 1rem) + calc(100 * 0.0294314381 * 1vw), calc(64 / 16 * 1rem));
  font-weight: 700;
  line-height: 1.5625;
}
.top_contact_btn_read {
  font-size: clamp(calc(10 / 16 * 1rem), calc(calc((36 - 1920 * 0.0173913043) / 16) * 1rem) + calc(100 * 0.0173913043 * 1vw), calc(36 / 16 * 1rem));
  font-weight: 600;
  line-height: 2.7777777778;
}

.footer {
  background-color: #bfd0f2;
  text-align: center;
  padding: 35px 20px;
}
.footer_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}
.footer_container_nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(calc(10 / 16 * 1rem), calc(calc((20 - 1920 * 0.0066889632) / 16) * 1rem) + calc(100 * 0.0066889632 * 1vw), calc(20 / 16 * 1rem));
  font-size: clamp(calc(10 / 16 * 1rem), calc(calc((17.78 - 1920 * 0.0052040134) / 16) * 1rem) + calc(100 * 0.0052040134 * 1vw), calc(17.78 / 16 * 1rem));
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.01em;
}
.footer_container_nav a {
  text-decoration: none;
  font-weight: 400;
  color: inherit;
}
@media (hover: hover) and (pointer: fine) {
  .footer_container_nav a:hover {
    text-decoration: underline;
    font-weight: 700;
  }
}

.trustStationMv {
  margin-top: clamp(calc(70 / 16 * 1rem), calc(calc((140 - 1920 * 0.0468227425) / 16) * 1rem) + calc(100 * 0.0468227425 * 1vw), calc(140 / 16 * 1rem));
}

.trustStation {
  text-align: center;
  padding-bottom: clamp(calc(50 / 16 * 1rem), calc(calc((104 - 1920 * 0.0361204013) / 16) * 1rem) + calc(100 * 0.0361204013 * 1vw), calc(104 / 16 * 1rem));
}
.trustStation_box1 {
  font-weight: 700;
  letter-spacing: -0.01em;
  padding-bottom: clamp(calc(40 / 16 * 1rem), calc(calc((89 - 1920 * 0.0327759197) / 16) * 1rem) + calc(100 * 0.0327759197 * 1vw), calc(89 / 16 * 1rem));
  border-bottom: 1px solid #000000;
}
.trustStation_box1_hdg {
  font-size: clamp(calc(32 / 16 * 1rem), calc(calc((64 - 1920 * 0.0214046823) / 16) * 1rem) + calc(100 * 0.0214046823 * 1vw), calc(64 / 16 * 1rem));
  line-height: 1;
  margin-top: clamp(calc(55 / 16 * 1rem), calc(calc((111 - 1920 * 0.037458194) / 16) * 1rem) + calc(100 * 0.037458194 * 1vw), calc(111 / 16 * 1rem));
}
.trustStation_box1_read {
  font-size: clamp(calc(12 / 16 * 1rem), calc(calc((24 - 1920 * 0.0080267559) / 16) * 1rem) + calc(100 * 0.0080267559 * 1vw), calc(24 / 16 * 1rem));
  line-height: 2;
  text-align: start;
  margin-top: clamp(calc(20 / 16 * 1rem), calc(calc((40 - 1920 * 0.0133779264) / 16) * 1rem) + calc(100 * 0.0133779264 * 1vw), calc(40 / 16 * 1rem));
}
.trustStation_box2_hdg {
  font-size: clamp(calc(24 / 16 * 1rem), calc(calc((48 - 1920 * 0.0160535117) / 16) * 1rem) + calc(100 * 0.0160535117 * 1vw), calc(48 / 16 * 1rem));
  font-weight: 700;
  line-height: 1;
  margin: 22px auto;
}

.movieMv {
  margin-top: clamp(calc(70 / 16 * 1rem), calc(calc((140 - 1920 * 0.0468227425) / 16) * 1rem) + calc(100 * 0.0468227425 * 1vw), calc(140 / 16 * 1rem));
}

.movie {
  font-size: clamp(calc(12 / 16 * 1rem), calc(calc((24 - 1920 * 0.0080267559) / 16) * 1rem) + calc(100 * 0.0080267559 * 1vw), calc(24 / 16 * 1rem));
  font-weight: 600;
  line-height: 2;
  padding-bottom: clamp(calc(50 / 16 * 1rem), calc(calc((100 - 1920 * 0.0334448161) / 16) * 1rem) + calc(100 * 0.0334448161 * 1vw), calc(100 / 16 * 1rem));
}
.movie_box1 {
  margin-top: clamp(calc(50 / 16 * 1rem), calc(calc((100 - 1920 * 0.0334448161) / 16) * 1rem) + calc(100 * 0.0334448161 * 1vw), calc(100 / 16 * 1rem));
}
.movie_box1_hdg {
  font-size: clamp(calc(32 / 16 * 1rem), calc(calc((64 - 1920 * 0.0214046823) / 16) * 1rem) + calc(100 * 0.0214046823 * 1vw), calc(64 / 16 * 1rem));
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.01em;
  text-align: center;
}
.movie_box1_read {
  font-size: clamp(calc(12 / 16 * 1rem), calc(calc((24 - 1920 * 0.0080267559) / 16) * 1rem) + calc(100 * 0.0080267559 * 1vw), calc(24 / 16 * 1rem));
  font-weight: 600;
  line-height: 2;
  letter-spacing: -0.01em;
  margin-top: clamp(calc(21 / 16 * 1rem), calc(calc((43 - 1920 * 0.0147157191) / 16) * 1rem) + calc(100 * 0.0147157191 * 1vw), calc(43 / 16 * 1rem));
}
.movie_box2 {
  padding-bottom: clamp(calc(45 / 16 * 1rem), calc(calc((90 - 1920 * 0.0301003344) / 16) * 1rem) + calc(100 * 0.0301003344 * 1vw), calc(90 / 16 * 1rem));
  border-bottom: 1px solid #000000;
}
.movie_box2_hdg {
  text-align: center;
  font-size: clamp(calc(24 / 16 * 1rem), calc(calc((48 - 1920 * 0.0160535117) / 16) * 1rem) + calc(100 * 0.0160535117 * 1vw), calc(48 / 16 * 1rem));
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.01em;
  margin-top: clamp(calc(45 / 16 * 1rem), calc(calc((90 - 1920 * 0.0301003344) / 16) * 1rem) + calc(100 * 0.0301003344 * 1vw), calc(90 / 16 * 1rem));
  margin-bottom: clamp(calc(20 / 16 * 1rem), calc(calc((40 - 1920 * 0.0133779264) / 16) * 1rem) + calc(100 * 0.0133779264 * 1vw), calc(40 / 16 * 1rem));
}
.movie_box2_list {
  list-style-type: disc;
  padding-left: 1.5em;
}
.movie_box3 {
  padding-top: clamp(calc(10 / 16 * 1rem), calc(calc((20 - 1920 * 0.0066889632) / 16) * 1rem) + calc(100 * 0.0066889632 * 1vw), calc(20 / 16 * 1rem));
}
.movie_box3_hdg {
  text-align: center;
  font-size: clamp(calc(24 / 16 * 1rem), calc(calc((48 - 1920 * 0.0160535117) / 16) * 1rem) + calc(100 * 0.0160535117 * 1vw), calc(48 / 16 * 1rem));
  font-weight: 700;
  line-height: 1;
  margin-bottom: clamp(calc(20 / 16 * 1rem), calc(calc((40 - 1920 * 0.0133779264) / 16) * 1rem) + calc(100 * 0.0133779264 * 1vw), calc(40 / 16 * 1rem));
}

.iideliMv {
  margin-top: clamp(calc(70 / 16 * 1rem), calc(calc((140 - 1920 * 0.0468227425) / 16) * 1rem) + calc(100 * 0.0468227425 * 1vw), calc(140 / 16 * 1rem));
}

.iideli {
  padding-bottom: clamp(calc(50 / 16 * 1rem), calc(calc((100 - 1920 * 0.0334448161) / 16) * 1rem) + calc(100 * 0.0334448161 * 1vw), calc(100 / 16 * 1rem));
}
.iideli_box1_hdg {
  text-align: center;
  font-size: clamp(calc(32 / 16 * 1rem), calc(calc((64 - 1920 * 0.0214046823) / 16) * 1rem) + calc(100 * 0.0214046823 * 1vw), calc(64 / 16 * 1rem));
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.01em;
  margin-top: clamp(calc(46 / 16 * 1rem), calc(calc((93 - 1920 * 0.0314381271) / 16) * 1rem) + calc(100 * 0.0314381271 * 1vw), calc(93 / 16 * 1rem));
}
.iideli_box1_read {
  font-size: clamp(calc(12 / 16 * 1rem), calc(calc((24 - 1920 * 0.0080267559) / 16) * 1rem) + calc(100 * 0.0080267559 * 1vw), calc(24 / 16 * 1rem));
  font-weight: 600;
  line-height: 2;
  letter-spacing: -0.01em;
  margin-top: clamp(calc(17 / 16 * 1rem), calc(calc((35 - 1920 * 0.0120401338) / 16) * 1rem) + calc(100 * 0.0120401338 * 1vw), calc(35 / 16 * 1rem));
}
.iideli_box2 {
  padding-bottom: clamp(calc(50 / 16 * 1rem), calc(calc((100 - 1920 * 0.0334448161) / 16) * 1rem) + calc(100 * 0.0334448161 * 1vw), calc(100 / 16 * 1rem));
  border-bottom: 1px solid #000000;
}
.iideli_box2_hdg {
  text-align: center;
  font-size: clamp(calc(24 / 16 * 1rem), calc(calc((48 - 1920 * 0.0160535117) / 16) * 1rem) + calc(100 * 0.0160535117 * 1vw), calc(48 / 16 * 1rem));
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.01em;
  margin-top: clamp(calc(46 / 16 * 1rem), calc(calc((92 - 1920 * 0.0307692308) / 16) * 1rem) + calc(100 * 0.0307692308 * 1vw), calc(92 / 16 * 1rem));
  margin-bottom: clamp(calc(25 / 16 * 1rem), calc(calc((50 - 1920 * 0.016722408) / 16) * 1rem) + calc(100 * 0.016722408 * 1vw), calc(50 / 16 * 1rem));
}
.iideli_box2_read {
  font-size: clamp(calc(12 / 16 * 1rem), calc(calc((24 - 1920 * 0.0080267559) / 16) * 1rem) + calc(100 * 0.0080267559 * 1vw), calc(24 / 16 * 1rem));
  font-weight: 600;
  line-height: 2;
  letter-spacing: -0.01em;
}
.iideli_box2_list {
  font-size: clamp(calc(12 / 16 * 1rem), calc(calc((24 - 1920 * 0.0080267559) / 16) * 1rem) + calc(100 * 0.0080267559 * 1vw), calc(24 / 16 * 1rem));
  font-weight: 600;
  line-height: 2;
  letter-spacing: -0.01em;
}
.iideli_box2 a {
  font-size: clamp(calc(12 / 16 * 1rem), calc(calc((24 - 1920 * 0.0080267559) / 16) * 1rem) + calc(100 * 0.0080267559 * 1vw), calc(24 / 16 * 1rem));
  font-weight: 600;
  line-height: 2;
  letter-spacing: -0.01em;
  color: #00a072;
}
@media (hover: hover) and (pointer: fine) {
  .iideli_box2 a:hover {
    font-weight: 900;
    text-decoration: underline;
  }
}
.iideli_box3_hdg {
  text-align: center;
  font-size: clamp(calc(24 / 16 * 1rem), calc(calc((48 - 1920 * 0.0160535117) / 16) * 1rem) + calc(100 * 0.0160535117 * 1vw), calc(48 / 16 * 1rem));
  font-weight: 700;
  line-height: 1;
  margin-top: clamp(calc(17 / 16 * 1rem), calc(calc((25 - 1920 * 0.0053511706) / 16) * 1rem) + calc(100 * 0.0053511706 * 1vw), calc(25 / 16 * 1rem));
  margin-bottom: clamp(calc(21 / 16 * 1rem), calc(calc((43 - 1920 * 0.0147157191) / 16) * 1rem) + calc(100 * 0.0147157191 * 1vw), calc(43 / 16 * 1rem));
}

.webMv {
  margin-top: clamp(calc(70 / 16 * 1rem), calc(calc((140 - 1920 * 0.0468227425) / 16) * 1rem) + calc(100 * 0.0468227425 * 1vw), calc(140 / 16 * 1rem));
}

.web {
  padding-top: clamp(calc(47 / 16 * 1rem), calc(calc((95 - 1920 * 0.0321070234) / 16) * 1rem) + calc(100 * 0.0321070234 * 1vw), calc(95 / 16 * 1rem));
  padding-bottom: clamp(calc(50 / 16 * 1rem), calc(calc((100 - 1920 * 0.0334448161) / 16) * 1rem) + calc(100 * 0.0334448161 * 1vw), calc(100 / 16 * 1rem));
}
.web_box1 {
  padding-bottom: clamp(calc(50 / 16 * 1rem), calc(calc((100 - 1920 * 0.0334448161) / 16) * 1rem) + calc(100 * 0.0334448161 * 1vw), calc(100 / 16 * 1rem));
  border-bottom: 1px solid #000000;
}
.web_box1_hdg {
  text-align: center;
  font-size: clamp(calc(32 / 16 * 1rem), calc(calc((64 - 1920 * 0.0214046823) / 16) * 1rem) + calc(100 * 0.0214046823 * 1vw), calc(64 / 16 * 1rem));
  font-weight: 700;
  line-height: 1;
}
.web_box1_read {
  text-align: start;
  font-size: clamp(calc(12 / 16 * 1rem), calc(calc((24 - 1920 * 0.0080267559) / 16) * 1rem) + calc(100 * 0.0080267559 * 1vw), calc(24 / 16 * 1rem));
  font-weight: 600;
  line-height: 2;
  margin-top: clamp(calc(16 / 16 * 1rem), calc(calc((32 - 1920 * 0.0107023411) / 16) * 1rem) + calc(100 * 0.0107023411 * 1vw), calc(32 / 16 * 1rem));
}
.web_box2 {
  padding-top: clamp(calc(12 / 16 * 1rem), calc(calc((25 - 1920 * 0.0086956522) / 16) * 1rem) + calc(100 * 0.0086956522 * 1vw), calc(25 / 16 * 1rem));
}
.web_box2_hdg {
  text-align: center;
  font-size: clamp(calc(24 / 16 * 1rem), calc(calc((48 - 1920 * 0.0160535117) / 16) * 1rem) + calc(100 * 0.0160535117 * 1vw), calc(48 / 16 * 1rem));
  font-weight: 700;
  line-height: 1;
  margin-bottom: clamp(calc(19 / 16 * 1rem), calc(calc((38 - 1920 * 0.0127090301) / 16) * 1rem) + calc(100 * 0.0127090301 * 1vw), calc(38 / 16 * 1rem));
}

.systemMv {
  margin-top: clamp(calc(70 / 16 * 1rem), calc(calc((140 - 1920 * 0.0468227425) / 16) * 1rem) + calc(100 * 0.0468227425 * 1vw), calc(140 / 16 * 1rem));
}

.system {
  padding-top: clamp(calc(45 / 16 * 1rem), calc(calc((90 - 1920 * 0.0301003344) / 16) * 1rem) + calc(100 * 0.0301003344 * 1vw), calc(90 / 16 * 1rem));
  padding-bottom: clamp(calc(45 / 16 * 1rem), calc(calc((90 - 1920 * 0.0301003344) / 16) * 1rem) + calc(100 * 0.0301003344 * 1vw), calc(90 / 16 * 1rem));
}
.system_box1_hdg {
  text-align: center;
  font-size: clamp(calc(32 / 16 * 1rem), calc(calc((64 - 1920 * 0.0214046823) / 16) * 1rem) + calc(100 * 0.0214046823 * 1vw), calc(64 / 16 * 1rem));
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.01em;
}
.system_box1_read {
  text-align: start;
  font-size: clamp(calc(12 / 16 * 1rem), calc(calc((24 - 1920 * 0.0080267559) / 16) * 1rem) + calc(100 * 0.0080267559 * 1vw), calc(24 / 16 * 1rem));
  font-weight: 600;
  line-height: 2;
  letter-spacing: -0.01em;
  margin-top: clamp(calc(16 / 16 * 1rem), calc(calc((32 - 1920 * 0.0107023411) / 16) * 1rem) + calc(100 * 0.0107023411 * 1vw), calc(32 / 16 * 1rem));
}
.system_box2 {
  margin-top: clamp(calc(34 / 16 * 1rem), calc(calc((68 - 1920 * 0.0227424749) / 16) * 1rem) + calc(100 * 0.0227424749 * 1vw), calc(68 / 16 * 1rem));
}
.system_box2_hdg {
  text-align: center;
  font-size: clamp(calc(24 / 16 * 1rem), calc(calc((48 - 1920 * 0.0160535117) / 16) * 1rem) + calc(100 * 0.0160535117 * 1vw), calc(48 / 16 * 1rem));
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.01em;
}
.system_box2 img {
  margin-top: clamp(calc(14 / 16 * 1rem), calc(calc((29 - 1920 * 0.0100334448) / 16) * 1rem) + calc(100 * 0.0100334448 * 1vw), calc(29 / 16 * 1rem));
}
.system_box3_hdg {
  text-align: center;
  font-size: clamp(calc(24 / 16 * 1rem), calc(calc((48 - 1920 * 0.0160535117) / 16) * 1rem) + calc(100 * 0.0160535117 * 1vw), calc(48 / 16 * 1rem));
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.01em;
  margin-top: clamp(calc(50 / 16 * 1rem), calc(calc((100 - 1920 * 0.0334448161) / 16) * 1rem) + calc(100 * 0.0334448161 * 1vw), calc(100 / 16 * 1rem));
}
.system_box3_list {
  text-align: start;
  font-size: clamp(calc(12 / 16 * 1rem), calc(calc((24 - 1920 * 0.0080267559) / 16) * 1rem) + calc(100 * 0.0080267559 * 1vw), calc(24 / 16 * 1rem));
  font-weight: 600;
  line-height: 2;
  letter-spacing: -0.01em;
  margin-top: clamp(calc(10 / 16 * 1rem), calc(calc((20 - 1920 * 0.0066889632) / 16) * 1rem) + calc(100 * 0.0066889632 * 1vw), calc(20 / 16 * 1rem));
}
.system_box3_list dt {
  position: relative;
  padding-left: 1em;
}
.system_box3_list dt::before {
  content: "■";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1em;
}
.system_box4 {
  padding-bottom: clamp(calc(50 / 16 * 1rem), calc(calc((100 - 1920 * 0.0334448161) / 16) * 1rem) + calc(100 * 0.0334448161 * 1vw), calc(100 / 16 * 1rem));
  border-bottom: 1px solid #000000;
}
.system_box4_hdg {
  text-align: center;
  font-size: clamp(calc(24 / 16 * 1rem), calc(calc((48 - 1920 * 0.0160535117) / 16) * 1rem) + calc(100 * 0.0160535117 * 1vw), calc(48 / 16 * 1rem));
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.01em;
  margin-top: clamp(calc(50 / 16 * 1rem), calc(calc((100 - 1920 * 0.0334448161) / 16) * 1rem) + calc(100 * 0.0334448161 * 1vw), calc(100 / 16 * 1rem));
}
.system_box4_cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: clamp(calc(10 / 16 * 1rem), calc(calc((70 - 1920 * 0.0401337793) / 16) * 1rem) + calc(100 * 0.0401337793 * 1vw), calc(70 / 16 * 1rem));
  margin-top: clamp(calc(20 / 16 * 1rem), calc(calc((40 - 1920 * 0.0133779264) / 16) * 1rem) + calc(100 * 0.0133779264 * 1vw), calc(40 / 16 * 1rem));
}
.system_box4_cards_card1, .system_box4_cards_card2, .system_box4_cards_card3 {
  width: 417px;
  max-height: 713px;
  text-align: center;
  padding: 61px 25px 59px;
  border-radius: 30px;
  -webkit-box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.25);
}
.system_box4_cards_card1 .system_box4_cards_card_serviceName, .system_box4_cards_card2 .system_box4_cards_card_serviceName, .system_box4_cards_card3 .system_box4_cards_card_serviceName {
  font-size: clamp(calc(16 / 16 * 1rem), calc(calc((36 - 1920 * 0.0133779264) / 16) * 1rem) + calc(100 * 0.0133779264 * 1vw), calc(36 / 16 * 1rem));
  font-weight: 900;
  line-height: 1.25;
  letter-spacing: -0.01em;
}
.system_box4_cards_card1 .system_box4_cards_card_serviceAbout, .system_box4_cards_card2 .system_box4_cards_card_serviceAbout, .system_box4_cards_card3 .system_box4_cards_card_serviceAbout {
  font-size: clamp(calc(11 / 16 * 1rem), calc(calc((28 - 1920 * 0.0113712375) / 16) * 1rem) + calc(100 * 0.0113712375 * 1vw), calc(28 / 16 * 1rem));
  font-weight: 900;
  line-height: 1.2857142857;
  letter-spacing: -0.01em;
  margin-top: clamp(calc(25 / 16 * 1rem), calc(calc((51 - 1920 * 0.0173913043) / 16) * 1rem) + calc(100 * 0.0173913043 * 1vw), calc(51 / 16 * 1rem));
  padding: 12px 0 13px;
  border-top: 3px solid #000000;
  border-bottom: 3px solid #000000;
}
.system_box4_cards_card1 .system_box4_cards_card_serviceRead, .system_box4_cards_card2 .system_box4_cards_card_serviceRead, .system_box4_cards_card3 .system_box4_cards_card_serviceRead {
  font-size: clamp(calc(14 / 16 * 1rem), calc(calc((28 - 1920 * 0.0093645485) / 16) * 1rem) + calc(100 * 0.0093645485 * 1vw), calc(28 / 16 * 1rem));
  font-weight: 900;
  line-height: 1.2857142857;
  letter-spacing: -0.01;
  margin-top: clamp(calc(17 / 16 * 1rem), calc(calc((35 - 1920 * 0.0120401338) / 16) * 1rem) + calc(100 * 0.0120401338 * 1vw), calc(35 / 16 * 1rem));
}
.system_box4_cards_card1 .system_box4_cards_card_serviceList, .system_box4_cards_card2 .system_box4_cards_card_serviceList, .system_box4_cards_card3 .system_box4_cards_card_serviceList {
  text-align: start;
  font-size: clamp(calc(10 / 16 * 1rem), calc(calc((28 - 1920 * 0.0120401338) / 16) * 1rem) + calc(100 * 0.0120401338 * 1vw), calc(28 / 16 * 1rem));
  font-weight: 900;
  line-height: 1.2857142857;
  letter-spacing: -0.01;
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 1.5em;
  margin-top: clamp(calc(17 / 16 * 1rem), calc(calc((35 - 1920 * 0.0120401338) / 16) * 1rem) + calc(100 * 0.0120401338 * 1vw), calc(35 / 16 * 1rem));
}
.system_box4_cards_card1 .system_box4_cards_card_serviceFee, .system_box4_cards_card2 .system_box4_cards_card_serviceFee, .system_box4_cards_card3 .system_box4_cards_card_serviceFee {
  font-size: clamp(calc(16 / 16 * 1rem), calc(calc((32 - 1920 * 0.0107023411) / 16) * 1rem) + calc(100 * 0.0107023411 * 1vw), calc(32 / 16 * 1rem));
  font-weight: 900;
  line-height: 1.125;
  letter-spacing: -0.01em;
  margin-top: clamp(calc(20 / 16 * 1rem), calc(calc((41 - 1920 * 0.0140468227) / 16) * 1rem) + calc(100 * 0.0140468227 * 1vw), calc(41 / 16 * 1rem));
}
.system_box4_cards_card1 {
  background-color: #d1ffd9;
}
.system_box4_cards_card2 {
  background-color: #ffedad;
}
.system_box4_cards_card3 {
  background-color: #b0dcff;
}
.system_box5 {
  padding-top: clamp(calc(11 / 16 * 1rem), calc(calc((22 - 1920 * 0.0073578595) / 16) * 1rem) + calc(100 * 0.0073578595 * 1vw), calc(22 / 16 * 1rem));
}
.system_box5_hdg {
  text-align: center;
  font-size: clamp(calc(24 / 16 * 1rem), calc(calc((48 - 1920 * 0.0160535117) / 16) * 1rem) + calc(100 * 0.0160535117 * 1vw), calc(48 / 16 * 1rem));
  font-weight: 700;
  line-height: 1;
  margin-bottom: clamp(calc(19 / 16 * 1rem), calc(calc((38 - 1920 * 0.0127090301) / 16) * 1rem) + calc(100 * 0.0127090301 * 1vw), calc(38 / 16 * 1rem));
}

.devMv {
  margin-top: clamp(calc(70 / 16 * 1rem), calc(calc((140 - 1920 * 0.0468227425) / 16) * 1rem) + calc(100 * 0.0468227425 * 1vw), calc(140 / 16 * 1rem));
}

.dev {
  padding-top: clamp(calc(48 / 16 * 1rem), calc(calc((96 - 1920 * 0.0321070234) / 16) * 1rem) + calc(100 * 0.0321070234 * 1vw), calc(96 / 16 * 1rem));
  padding-bottom: clamp(calc(48 / 16 * 1rem), calc(calc((96 - 1920 * 0.0321070234) / 16) * 1rem) + calc(100 * 0.0321070234 * 1vw), calc(96 / 16 * 1rem));
}
.dev_box1_hdg {
  text-align: center;
  font-size: clamp(calc(32 / 16 * 1rem), calc(calc((64 - 1920 * 0.0214046823) / 16) * 1rem) + calc(100 * 0.0214046823 * 1vw), calc(64 / 16 * 1rem));
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.01em;
}
.dev_box1_read {
  text-align: start;
  font-size: clamp(calc(12 / 16 * 1rem), calc(calc((24 - 1920 * 0.0080267559) / 16) * 1rem) + calc(100 * 0.0080267559 * 1vw), calc(24 / 16 * 1rem));
  font-weight: 600;
  line-height: 1.75;
  letter-spacing: -0.01em;
  margin-top: 11px;
}
.dev_box2 {
  padding-bottom: clamp(calc(13 / 16 * 1rem), calc(calc((26.55 - 1920 * 0.0090635452) / 16) * 1rem) + calc(100 * 0.0090635452 * 1vw), calc(26.55 / 16 * 1rem));
  border-bottom: 1px solid #000000;
}
.dev_box2_hdg {
  text-align: center;
  margin-top: clamp(calc(41 / 16 * 1rem), calc(calc((82 - 1920 * 0.0274247492) / 16) * 1rem) + calc(100 * 0.0274247492 * 1vw), calc(82 / 16 * 1rem));
  font-size: clamp(calc(24 / 16 * 1rem), calc(calc((48 - 1920 * 0.0160535117) / 16) * 1rem) + calc(100 * 0.0160535117 * 1vw), calc(48 / 16 * 1rem));
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.01em;
}
.dev_box2_read {
  text-align: start;
  margin-top: clamp(calc(36 / 16 * 1rem), calc(calc((73 - 1920 * 0.0247491639) / 16) * 1rem) + calc(100 * 0.0247491639 * 1vw), calc(73 / 16 * 1rem));
  font-size: clamp(calc(12 / 16 * 1rem), calc(calc((24 - 1920 * 0.0080267559) / 16) * 1rem) + calc(100 * 0.0080267559 * 1vw), calc(24 / 16 * 1rem));
  font-weight: 600;
  line-height: 2;
  letter-spacing: -0.01em;
}
.dev_box2_list {
  text-align: start;
  margin-top: clamp(calc(11 / 16 * 1rem), calc(calc((22 - 1920 * 0.0073578595) / 16) * 1rem) + calc(100 * 0.0073578595 * 1vw), calc(22 / 16 * 1rem));
  font-size: clamp(calc(12 / 16 * 1rem), calc(calc((24 - 1920 * 0.0080267559) / 16) * 1rem) + calc(100 * 0.0080267559 * 1vw), calc(24 / 16 * 1rem));
  font-weight: 600;
  line-height: 2;
  letter-spacing: -0.01em;
}
.dev_box2_list dt {
  position: relative;
  padding-left: 1em;
}
.dev_box2_list dt::before {
  content: "■";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1em;
}
.dev_box3_hdg {
  text-align: center;
  margin-top: clamp(calc(12 / 16 * 1rem), calc(calc((25 - 1920 * 0.0086956522) / 16) * 1rem) + calc(100 * 0.0086956522 * 1vw), calc(25 / 16 * 1rem));
  margin-bottom: clamp(calc(19 / 16 * 1rem), calc(calc((38 - 1920 * 0.0127090301) / 16) * 1rem) + calc(100 * 0.0127090301 * 1vw), calc(38 / 16 * 1rem));
  font-size: clamp(calc(24 / 16 * 1rem), calc(calc((48 - 1920 * 0.0160535117) / 16) * 1rem) + calc(100 * 0.0160535117 * 1vw), calc(48 / 16 * 1rem));
  font-weight: 700;
  line-height: 1;
}

.worksMv {
  margin-top: clamp(calc(70 / 16 * 1rem), calc(calc((140 - 1920 * 0.0468227425) / 16) * 1rem) + calc(100 * 0.0468227425 * 1vw), calc(140 / 16 * 1rem));
}

.works_box1 {
  text-align: center;
}
.works_box1_hdg {
  font-size: clamp(calc(32 / 16 * 1rem), calc(calc((64 - 1920 * 0.0214046823) / 16) * 1rem) + calc(100 * 0.0214046823 * 1vw), calc(64 / 16 * 1rem));
  font-weight: 700;
  line-height: 1;
  margin-top: clamp(calc(45 / 16 * 1rem), calc(calc((93 - 1920 * 0.0321070234) / 16) * 1rem) + calc(100 * 0.0321070234 * 1vw), calc(93 / 16 * 1rem));
}
.works_box1_contents {
  padding: clamp(calc(70 / 16 * 1rem), calc(calc((140 - 1920 * 0.0468227425) / 16) * 1rem) + calc(100 * 0.0468227425 * 1vw), calc(140 / 16 * 1rem)) 0 clamp(calc(50 / 16 * 1rem), calc(calc((100 - 1920 * 0.0334448161) / 16) * 1rem) + calc(100 * 0.0334448161 * 1vw), calc(100 / 16 * 1rem)) 0;
}
.works_box1_contents_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: clamp(calc(41 / 16 * 1rem), calc(calc((82 - 1920 * 0.0274247492) / 16) * 1rem) + calc(100 * 0.0274247492 * 1vw), calc(82 / 16 * 1rem));
}
.works_box1_contents_list_card {
  background-color: #ffffff;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
}
.works_box1_contents_list_card img {
  width: 100%;
  height: auto;
  display: block;
  max-width: 100%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.works_box1_contents_list_card_name, .works_box1_contents_list_card_hdg, .works_box1_contents_list_card_read {
  max-width: 100%;
  width: 100%;
  text-align: left;
}
.works_box1_contents_list_card_name {
  font-size: clamp(calc(12 / 16 * 1rem), calc(calc((24 - 1920 * 0.0080267559) / 16) * 1rem) + calc(100 * 0.0080267559 * 1vw), calc(24 / 16 * 1rem));
  font-weight: 700;
  line-height: 1.2708333333;
  margin-top: 22px;
}
.works_box1_contents_list_card_hdg {
  font-size: clamp(calc(16 / 16 * 1rem), calc(calc((32 - 1920 * 0.0107023411) / 16) * 1rem) + calc(100 * 0.0107023411 * 1vw), calc(32 / 16 * 1rem));
  font-weight: 700;
  line-height: 0.953125;
  color: #ff5f5f;
  margin-top: 27px;
}
.works_box1_contents_list_card_read {
  font-size: clamp(calc(12 / 16 * 1rem), calc(calc((24 - 1920 * 0.0080267559) / 16) * 1rem) + calc(100 * 0.0080267559 * 1vw), calc(24 / 16 * 1rem));
  font-weight: 500;
  line-height: 1.2708333333;
  margin-top: 29px;
}

.work {
  padding: clamp(calc(70 / 16 * 1rem), calc(calc((140 - 1920 * 0.0468227425) / 16) * 1rem) + calc(100 * 0.0468227425 * 1vw), calc(140 / 16 * 1rem)) 20px clamp(calc(70 / 16 * 1rem), calc(calc((144 - 1920 * 0.0494983278) / 16) * 1rem) + calc(100 * 0.0494983278 * 1vw), calc(144 / 16 * 1rem));
  text-align: center;
}
.work_hdg {
  font-size: clamp(calc(32 / 16 * 1rem), calc(calc((64 - 1920 * 0.0214046823) / 16) * 1rem) + calc(100 * 0.0214046823 * 1vw), calc(64 / 16 * 1rem));
  font-weight: 700;
  line-height: 1;
  margin-top: clamp(calc(30 / 16 * 1rem), calc(calc((60 - 1920 * 0.0200668896) / 16) * 1rem) + calc(100 * 0.0200668896 * 1vw), calc(60 / 16 * 1rem));
}
.work_read {
  font-size: clamp(calc(12 / 16 * 1rem), calc(calc((24 - 1920 * 0.0080267559) / 16) * 1rem) + calc(100 * 0.0080267559 * 1vw), calc(24 / 16 * 1rem));
  font-weight: 600;
  line-height: 2;
  margin-top: clamp(calc(30 / 16 * 1rem), calc(calc((60 - 1920 * 0.0200668896) / 16) * 1rem) + calc(100 * 0.0200668896 * 1vw), calc(60 / 16 * 1rem));
  text-align: start;
}
.work figure {
  margin-top: clamp(calc(40 / 16 * 1rem), calc(calc((80 - 1920 * 0.0267558528) / 16) * 1rem) + calc(100 * 0.0267558528 * 1vw), calc(80 / 16 * 1rem));
}

.contactMv {
  margin-top: clamp(calc(70 / 16 * 1rem), calc(calc((140 - 1920 * 0.0468227425) / 16) * 1rem) + calc(100 * 0.0468227425 * 1vw), calc(140 / 16 * 1rem));
}

.contact {
  text-align: center;
  max-width: 1049px;
}
.contact_hdg {
  font-size: clamp(calc(32 / 16 * 1rem), calc(calc((64 - 1920 * 0.0214046823) / 16) * 1rem) + calc(100 * 0.0214046823 * 1vw), calc(64 / 16 * 1rem));
  font-weight: 700;
  line-height: 0.4765625;
  letter-spacing: -0.01em;
  margin-top: 88px;
}
.contact_read {
  font-size: clamp(calc(12 / 16 * 1rem), calc(calc((24 - 1920 * 0.0080267559) / 16) * 1rem) + calc(100 * 0.0080267559 * 1vw), calc(24 / 16 * 1rem));
  font-weight: 600;
  line-height: 1.8333333333;
  margin-top: 58px;
}
.contact_privacy {
  margin-top: clamp(calc(10 / 16 * 1rem), calc(calc((33 - 1920 * 0.0153846154) / 16) * 1rem) + calc(100 * 0.0153846154 * 1vw), calc(33 / 16 * 1rem));
  font-size: clamp(calc(10 / 16 * 1rem), calc(calc((24 - 1920 * 0.0093645485) / 16) * 1rem) + calc(100 * 0.0093645485 * 1vw), calc(24 / 16 * 1rem));
  font-weight: 600;
  line-height: 1.8333333333;
}
.contact_privacy a {
  text-decoration: none;
  color: inherit;
}
@media (hover: hover) and (pointer: fine) {
  .contact_privacy a:hover {
    text-decoration: underline;
    font-weight: 900;
  }
}
.contact_submit {
  font-size: clamp(calc(18 / 16 * 1rem), calc(calc((36 - 1920 * 0.0120401338) / 16) * 1rem) + calc(100 * 0.0120401338 * 1vw), calc(36 / 16 * 1rem));
  font-weight: 600;
  line-height: 1.2222222222;
  padding: 27px 60px;
  border: 1px solid;
  display: block;
  margin: clamp(calc(61 / 16 * 1rem), calc(calc((122 - 1920 * 0.0408026756) / 16) * 1rem) + calc(100 * 0.0408026756 * 1vw), calc(122 / 16 * 1rem)) auto clamp(calc(131 / 16 * 1rem), calc(calc((262 - 1920 * 0.0876254181) / 16) * 1rem) + calc(100 * 0.0876254181 * 1vw), calc(262 / 16 * 1rem));
}

form {
  text-align: start;
  margin: 52px auto 0;
}
form label {
  display: block;
}
form label p {
  font-size: clamp(calc(12 / 16 * 1rem), calc(calc((24 - 1920 * 0.0080267559) / 16) * 1rem) + calc(100 * 0.0080267559 * 1vw), calc(24 / 16 * 1rem));
  font-weight: 600;
  line-height: 1.8333333333;
}
form label:not(:last-of-type) {
  margin-bottom: clamp(calc(40 / 16 * 1rem), calc(calc((85 - 1920 * 0.0301003344) / 16) * 1rem) + calc(100 * 0.0301003344 * 1vw), calc(85 / 16 * 1rem));
}
form input[type=text],
form input[type=email],
form input[type=tel],
form textarea {
  background-color: #d9d9d9;
  width: 100%;
  height: clamp(calc(42 / 16 * 1rem), calc(calc((84 - 1920 * 0.0280936455) / 16) * 1rem) + calc(100 * 0.0280936455 * 1vw), calc(84 / 16 * 1rem));
  margin-top: clamp(calc(11 / 16 * 1rem), calc(calc((22 - 1920 * 0.0073578595) / 16) * 1rem) + calc(100 * 0.0073578595 * 1vw), calc(22 / 16 * 1rem));
  font-size: clamp(calc(24 / 16 * 1rem), calc(calc((48 - 1920 * 0.0160535117) / 16) * 1rem) + calc(100 * 0.0160535117 * 1vw), calc(48 / 16 * 1rem));
}

.privacyPolicy {
  margin-top: clamp(calc(70 / 16 * 1rem), calc(calc((140 - 1920 * 0.0468227425) / 16) * 1rem) + calc(100 * 0.0468227425 * 1vw), calc(140 / 16 * 1rem));
  text-align: center;
  padding-bottom: 82px;
}
.privacyPolicy_hdg {
  font-size: clamp(calc(32 / 16 * 1rem), calc(calc((64 - 1920 * 0.0214046823) / 16) * 1rem) + calc(100 * 0.0214046823 * 1vw), calc(64 / 16 * 1rem));
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.01em;
  padding-top: 85px;
}
.privacyPolicy_read {
  font-size: clamp(calc(12 / 16 * 1rem), calc(calc((24 - 1920 * 0.0080267559) / 16) * 1rem) + calc(100 * 0.0080267559 * 1vw), calc(24 / 16 * 1rem));
  font-weight: 600;
  line-height: 1.75;
  letter-spacing: -0.01em;
  margin-top: 53px;
  text-align: start;
}

.companyMv {
  margin-top: clamp(calc(70 / 16 * 1rem), calc(calc((140 - 1920 * 0.0468227425) / 16) * 1rem) + calc(100 * 0.0468227425 * 1vw), calc(140 / 16 * 1rem));
}

.company {
  text-align: center;
  max-width: 910px;
}
.company_hdg {
  font-size: clamp(calc(32 / 16 * 1rem), calc(calc((64 - 1920 * 0.0214046823) / 16) * 1rem) + calc(100 * 0.0214046823 * 1vw), calc(64 / 16 * 1rem));
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.01em;
  padding-top: clamp(calc(45 / 16 * 1rem), calc(calc((85 - 1920 * 0.0267558528) / 16) * 1rem) + calc(100 * 0.0267558528 * 1vw), calc(85 / 16 * 1rem));
}
.company_table {
  text-align: start;
  margin: clamp(calc(30 / 16 * 1rem), calc(calc((63 - 1920 * 0.0220735786) / 16) * 1rem) + calc(100 * 0.0220735786 * 1vw), calc(63 / 16 * 1rem)) auto clamp(calc(120 / 16 * 1rem), calc(calc((157.66 - 1920 * 0.0251906355) / 16) * 1rem) + calc(100 * 0.0251906355 * 1vw), calc(157.66 / 16 * 1rem));
  font-size: clamp(calc(12 / 16 * 1rem), calc(calc((24 - 1920 * 0.0080267559) / 16) * 1rem) + calc(100 * 0.0080267559 * 1vw), calc(24 / 16 * 1rem));
  font-weight: 600;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}
.company_table_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #000000;
  padding: clamp(calc(10 / 16 * 1rem), calc(calc((46 - 1920 * 0.0240802676) / 16) * 1rem) + calc(100 * 0.0240802676 * 1vw), calc(46 / 16 * 1rem)) 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.company_table_row dt {
  width: 30%;
  line-height: 4;
  padding-left: 29px;
}
.company_table_row dd {
  width: 70%;
  line-height: 2;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.company_table_row:last-child {
  border-bottom: none;
}/*# sourceMappingURL=style.css.map */